In [24]:
import selenium
import pandas as pd
import re
import warnings
warnings.filterwarnings("ignore")
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import requests
from bs4 import BeautifulSoup
from selenium.webdriver.support.ui import WebDriverWait
from selenium.common.exceptions import NoSuchElementException,ElementNotInteractableException,ElementClickInterceptedException

Q1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [2]:
driver=webdriver.Chrome()

In [46]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [16]:
driver.maximize_window()

In [17]:
Video_Name=[]
Rank=[]
Artist=[]
Upload_Date=[]
Views=[]

In [23]:
video=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[1]')
for i in video:
    Video_Name.append(i.text)
    
artist=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[2]')
for i in artist:
    Artist.append(i.text)
    
date_tag=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[4]')
for i in date_tag:
    Upload_Date.append(i.text)
    
views=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[3]')
for i in views:
    Views.append(i.text)

In [24]:
print(len(Video_Name),len(Views),len(Artist),len(Upload_Date))

30 30 30 30

In [25]:
df=pd.DataFrame({"Video Name":Video_Name,"Artist":Artist,"Upload Date":Upload_Date,"Number of Views":Views})
df

,Video Name,Artist,Upload Date,Number of Views
0,"""Baby Shark Dance""[7]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",14.52
1,"""Despacito""[10]",Luis Fonsi,"January 12, 2017",8.44
2,"""Johny Johny Yes Papa""[18]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.91
3,"""Bath Song""[19]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.70
4,"""See You Again""[20]",Wiz Khalifa,"April 6, 2015",6.27
5,"""Shape of You""[25]",Ed Sheeran,"January 30, 2017",6.26
6,"""Wheels on the Bus""[28]",Cocomelon - Nursery Rhymes,"May 24, 2018",6.13
7,"""Phonics Song with Two Words""[29]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.80
8,"""Uptown Funk""[30]",Mark Ronson,"November 19, 2014",5.23
9,"""Gangnam Style""[31]",Psy,"July 15, 2012",5.15
10,"""Learning Colors – Colorful Eggs on a Farm""[36]",Miroshka TV,"February 27, 2018",5.11
11,"""Dame Tu Cosita""[37]",Ultra Records,"April 5, 2018",4.63
12,"""Masha and the Bear – Recipe for Disaster""[38]",Get Movies,"January 31, 2012",4.58
13,"""Axel F""[39]",Crazy Frog,"June 16, 2009",4.54
14,"""Baa Baa Black Sheep""[40]",Cocomelon - Nursery Rhymes,"June 25, 2018",4.05
15,"""Sugar""[41]",Maroon 5,"January 14, 2015",4.05
16,"""Lakdi Ki Kathi""[42]",Jingle Toons,"June 14, 2018",4.04
17,"""Counting Stars""[43]",OneRepublic,"May 31, 2013",4.02
18,"""Roar""[44]",Katy Perry,"September 5, 2013",4.00
19,"""Waka Waka (This Time for Africa)""[45]",Shakira,"June 4, 2010",3.93
20,"""Shree Hanuman Chalisa""[46]",T-Series Bhakti Sagar,"May 10, 2011",3.84
21,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.81
22,"""Sorry""[48]",Justin Bieber,"October 22, 2015",3.80
23,"""Thinking Out Loud""[49]",Ed Sheeran,"October 7, 2014",3.77
24,"""Perfect""[50]",Ed Sheeran,"November 9, 2017",3.74
25,"""Dark Horse""[51]",Katy Perry,"February 20, 2014",3.72
26,"""Let Her Go""[52]",Passenger,"July 25, 2012",3.66
27,"""Faded""[53]",Alan Walker,"December 3, 2015",3.63
28,"""Girls Like You""[54]",Maroon 5,"May 31, 2018",3.61
29,"""Lean On""[55]",Major Lazer Official,"March 22, 2015",3.60

Q2:Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Series
B) Place
C) Date
D) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [26]:
driver=webdriver.Chrome()

In [27]:
driver.get("https://www.bcci.tv/")
driver.maximize_window()

In [28]:
fixures_page=driver.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
fixures_page.click()

In [29]:
more=driver.find_element(By.XPATH,'/html/body/section/div/div/div/div/div/div[2]/div[3]/div[2]/div/button')
more.click()

In [31]:
Series=[]
Place=[]
Date=[]
Time=[]
City=[]

In [32]:
matchdate=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in matchdate:
    Date.append(i.text)
    
matchtime=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in matchtime:
    Time.append(i.text)
    
series=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in series:
    Series.append(i.text)
    
matchplace=driver.find_elements(By.XPATH,'//div[@class="match-venue ng-scope"]/span[1]')
for i in matchplace:
    Place.append(i.text)
    
matchcity=driver.find_elements(By.XPATH,'//div[@class="match-venue ng-scope"]/span[2]')
for i in matchcity:
    City.append(i.text)

In [33]:
print(len(City),len(Place),len(Series),len(Time),len(Date))

15 15 15 15 15

In [35]:
df=pd.DataFrame({"Series":Series,"Place":Place,"City":City,"Date":Date,"Time":Time})
df

,Series,Place,City,Date,Time
0,ICC Mens T20 World Cup 2024,"Nassau County International Cricket Stadium,",New York,12 Jun,20:00 IST
1,South Africa Women Tour Of India Warm Up Match...,"M Chinnaswamy Stadium,",Bengaluru,13 Jun,13:30 IST
2,ICC Mens T20 World Cup 2024,"Central Broward Park & Broward County Stadium,...",Florida,15 Jun,20:00 IST
3,South Africa Women Tour Of India Odi Series 2024,"M Chinnaswamy Stadium,",Bengaluru,16 Jun,13:30 IST
4,South Africa Women Tour Of India Odi Series 2024,"M Chinnaswamy Stadium,",Bengaluru,19 Jun,13:30 IST
5,South Africa Women Tour Of India Odi Series 2024,"M Chinnaswamy Stadium,",Bengaluru,23 Jun,13:30 IST
6,South Africa Women Tour Of India Test Series 2024,"MA Chidambaram Stadium,",Chennai,28 Jun,9:30 IST
7,South Africa Women Tour Of India T20 Series 2024,"MA Chidambaram Stadium,",Chennai,5 Jul,19:00
8,India Tour Of Zimbabwe T20i Series 2024,"Harare Sports Club,",Harare,6 Jul,20:00 IST
9,South Africa Women Tour Of India T20 Series 2024,"MA Chidambaram Stadium,",Chennai,7 Jul,19:00
10,India Tour Of Zimbabwe T20i Series 2024,"Harare Sports Club,",Harare,7 Jul,20:00 IST
11,South Africa Women Tour Of India T20 Series 2024,"MA Chidambaram Stadium,",Chennai,9 Jul,19:00
12,India Tour Of Zimbabwe T20i Series 2024,"Harare Sports Club,",Harare,10 Jul,20:00 IST
13,India Tour Of Zimbabwe T20i Series 2024,"Harare Sports Club,",Harare,13 Jul,20:00 IST
14,India Tour Of Zimbabwe T20i Series 2024,"Harare Sports Club,",Harare,14 Jul,20:00 IST

Q3:Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details: A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [51]:
driver.get("http://statisticstimes.com/")
driver.maximize_window()

In [52]:
economy=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
economy.click()
try:
    india=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
    india.click()
except ElementNotInteractableException as e:
    print("Error in code")

In [53]:
statewise=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
statewise.click()

In [55]:
Rank1=[]
State=[]
GSDP22=[]
GSDP24=[]
Share=[]
GDP=[]

In [56]:
try:
    rank1=driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]/table[1]/tbody[1]/tr/td[1]')
    for i in rank1:
        Rank1.append(i.text)
except NoSuchElementException as e:
    Rank1.append("-")

try:
    state=driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]/table[1]/tbody[1]/tr/td[2]')
    for i in state:
        State.append(i.text)
except NoSuchElementException as e:
    State.append("-")
    
try:
    gsdp22=driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]/table[1]/tbody[1]/tr/td[3]')
    for i in gsdp22:
        GSDP22.append(i.text)
except NoSuchElementException as e:
    GSDP22.append("-")
    

try:
    gsdp24=driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]/table[1]/tbody[1]/tr/td[4]')
    for i in gsdp24:
        GSDP24.append(i.text)
except NoSuchElementException as e:
    GSDP24.append("-")  
    
try:
    share=driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]/table[1]/tbody[1]/tr/td[6]')
    for i in share:
        Share.append(i.text)
except NoSuchElementException as e:
    Share.append("-") 
    
try:
    gdp=driver.find_elements(By.XPATH,'//div[@class="dataTables_wrapper"]/table[1]/tbody[1]/tr/td[7]')
    for i in gdp:
        GDP.append(i.text)
except NoSuchElementException as e:
    GDP.append("-")

In [60]:
Rank1=Rank1[0:33]
State=State[0:33]
GSDP22=GSDP22[0:33]
GSDP24=GSDP24[0:33]
Share=Share[0:33]
GDP=GDP[0:33]

In [62]:
df=pd.DataFrame({"Rank":Rank1,"State":State,"GSDP22-23":GSDP22,"GSDP 23-24":GSDP24,"Share":Share,"GDP($Billion)":GDP})
df

   Rank                      State  GSDP22-23 GSDP 23-24   Share GDP($Billion)
0     1                Maharashtra          -          -  13.17%       414.928
1     2                 Tamil Nadu  2,700,109  2,364,514   8.78%       276.522
2     3                  Karnataka  2,500,733  2,269,995   8.38%       264.080
3     4              Uttar Pradesh  2,547,861  2,258,040   8.37%       263.747
4     5                    Gujarat          -  2,230,609   8.17%       257.484
5     6                West Bengal  1,700,939  1,531,758   5.63%       177.456
6     7                  Rajasthan  1,524,030  1,365,849   5.06%       159.334
7     8             Andhra Pradesh  1,439,674  1,303,524   4.87%       153.324
8     9                  Telangana  1,463,960  1,308,034   4.76%       150.084
9    10             Madhya Pradesh  1,363,327  1,246,471   4.63%       145.913
10   11                     Kerala          -  1,046,188   3.96%       124.764
11   12                      Delhi  1,107,746  1,014,688   3.73%       117.660
12   13                    Haryana  1,095,535    984,055   3.68%       116.001
13   14                     Odisha    832,790    753,177   2.81%        88.497
14   15                      Bihar          -    751,396   2.76%        86.817
15   16                     Punjab    736,423    676,164   2.62%        82.397
16   17                      Assam    565,401    493,167   1.74%        54.930
17   18               Chhattisgarh    505,887    464,399   1.74%        54.806
18   19                  Jharkhand          -    393,722   1.52%        47.909
19   20                Uttarakhand    346,206    303,781   1.13%        35.664
20   21            Jammu & Kashmir    246,465    224,226   0.82%        25.813
21   22           Himachal Pradesh    207,430    191,728   0.73%        22.984
22   23                        Goa          -     93,672   0.36%        11.250
23   24                    Tripura          -     72,636   0.27%         8.351
24   25                 Chandigarh          -     54,285   0.20%         6.154
25   26                 Puducherry          -     49,643   0.19%         5.849
26   27                  Meghalaya     47,381     42,697   0.16%         5.178
27   28                     Sikkim          -     42,756   0.16%         5.014
28   29                    Manipur          -          -   0.16%         4.885
29   30          Arunachal Pradesh          -     39,630   0.15%         4.643
30   31                   Nagaland          -     35,643   0.13%         4.144
31   32                    Mizoram          -          -   0.12%         3.715
32   33  Andaman & Nicobar Islands          -          -   0.04%         1.385

Q4:Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [134]:
driver=webdriver.Chrome()

In [135]:
driver.get("https://github.com/")
driver.maximize_window()

In [136]:
open_source=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
open_source.click()
try:
    trending=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
    trending.click()
except ElementNotInteractableException as e:
    print("Element not visible")

In [141]:
Rep_title=[]
Rep_desc=[]
Contributors=[]
Language=[]
url=[]

In [160]:
url_tag=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]/a')
for i in url_tag:
    url.append(i.get_attribute("href"))

In [161]:
len(url)

18

In [165]:
for i in url:
    driver.get(i)
    time.sleep(3)
    
    try:
        title=driver.find_elements(By.XPATH,'//div[@id="repository-container-header"]/div[1]/div[1]/div/strong/a')
        for i in title:
            Rep_title.append(i.text)
    except NoSuchElementException as e:
        Rep_title.append("_")
        
    try:
        desc=driver.find_elements(By.XPATH,'//p[@class="f4 my-3"]')
        for i in desc:
            rep=i.text
            if rep is None:
                Rep_desc.append("-")
            else:
                Rep_desc.append(rep)
    except NoSuchElementException as e:
        Rep_desc.append("--")
    try:
        contributor=driver.find_elements(By.XPATH,'//div[@class="Layout-sidebar"]/div[1]/div[5]/div/h2/a/span')
        for i in contributor:
            Contributors.append(i.text)
    except NoSuchElementException as e:
        Contributors.append("-")

In [149]:
language=driver.find_elements(By.XPATH,'//div[@class="f6 color-fg-muted mt-2"]/span[1]/span[2]')
for i in language:
    lang=i.text
    if lang is None:
        Language.append("-")
    else: 
        Language.append(lang)

In [151]:
len(Language)

17

In [164]:
Contributors.clear()

In [116]:
Rep_desc

['Neovim config for the lazy',
 'The simplest, fastest repository for training/finetuning medium-sized GPTs.',
 'An open-source & self-hostable Heroku / Netlify / Vercel alternative.',
 'State-of-the-art Machine Learning for the web. Run 🤗 Transformers directly in your browser, with no need for a server!',
 "The tiniest PaaS you've ever seen. Piku allows you to do git push deployments to your own servers.",
 'Master programming by recreating your favorite technologies from scratch.',
 'Code for the paper "Language Models are Unsupervised Multitask Learners"',
 'NVR with realtime local object detection for IP cameras',
 'Node Version Manager - POSIX-compliant bash script to manage multiple active node.js versions',
 "⭐️ Companies that don't have a broken hiring process",
 '🌱 a fast, batteries-included static-site generator that transforms Markdown content into fully functional websites',
 'Example 📓 Jupyter notebooks that demonstrate how to build, train, and deploy machine learning models using 🧠 Amazon SageMaker.',
 'Production-ready, Light, Flexible and Extensible ASGI API framework | Effortlessly Build Performant APIs',
 'aider is AI pair programming in your terminal',
 'Python packaging and dependency management made easy',
 'A utility-first CSS framework for rapid UI development.',
 'Blazingly fast LLM inference.']

In [166]:
print(len(Rep_title),len(Rep_desc),len(Contributors),len(Language))

18 17 11 17

In [169]:
Rep_title=Rep_title[0:11]
Rep_desc=Rep_desc[0:11]
Language=Language[0:11]

In [170]:
df=pd.DataFrame({"Repository Name":Rep_title,"Repository Description":Rep_desc,"Contributors Count":Contributors,"Language":Language})
df

,Repository Name,Repository Description,Contributors Count,Language
0,LazyVim,Neovim config for the lazy,36,Lua
1,nanoGPT,"The simplest, fastest repository for training/...",,Python
2,coolify,An open-source & self-hostable Heroku / Netlif...,117,PHP
3,transformers.js,State-of-the-art Machine Learning for the web....,15,JavaScript
4,piku,The tiniest PaaS you've ever seen. Piku allows...,355,Python
5,build-your-own-x,Master programming by recreating your favorite...,"1,002",Python
6,gpt-2,"Code for the paper ""Language Models are Unsupe...",548,Python
7,frigate,NVR with realtime local object detection for I...,201,Shell
8,nvm,Node Version Manager - POSIX-compliant bash sc...,20,JavaScript
9,hiring-without-whiteboards,⭐️ Companies that don't have a broken hiring p...,285,TypeScript
10,quartz,"🌱 a fast, batteries-included static-site gener...",13,Jupyter Notebook

Q5:Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the
following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
 Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [171]:
driver.get("https:/www.billboard.com/ ")

In [172]:
charts=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
charts.click()

In [173]:
hot100=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[3]/div/nav/ul/li[1]/a')
hot100.click()

In [175]:
Song=[]
Artistname=[]
Lastweek=[]
Peakrank=[]
Weeks=[]

In [176]:
songs=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li/h3')
for i in songs:
    Song.append(i.text)


artistname=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[1]/span')
for i in artistname:
    Artistname.append(i.text)
    
    
lastweekrank=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[4]/span[1]')
for i in lastweekrank:
    Lastweek.append(i.text)
    
    
peakrank=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[5]/span[1]')
for i in peakrank:
    Peakrank.append(i.text)
    
    
weeks=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[6]/span[1]')
for i in weeks:
    Weeks.append(i.text)

In [178]:
print(len(Song),len(Artistname),len(Lastweek),len(Peakrank),len(weeks))

100 100 100 100 100

In [179]:
df=pd.DataFrame({"Song Title":Song,"Artist Name":Artistname,"Last Week Rank":Lastweek,"Peak Week Rank":Peakrank,"Weeks on the Chart":Weeks})
df

,Song Title,Artist Name,Last Week Rank,Peak Week Rank,Weeks on the Chart
0,I Had Some Help,Post Malone Featuring Morgan Wallen,1,1,4
1,Houdini,Eminem,-,2,1
2,Million Dollar Baby,Tommy Richman,3,2,6
3,A Bar Song (Tipsy),Shaboozey,4,3,8
4,Not Like Us,Kendrick Lamar,2,1,5
...,...,...,...,...,...
95,Wine Into Whiskey,Tucker Wetmore,90,77,11
96,Heat Stick,Shoreline Mafia Presents OhGeesy & Fenix Flexin,97,97,3
97,Let Your Boys Be Country,Jason Aldean,-,98,1
98,Tu Name,Fuerza Regida,100,66,14
99,loml,Taylor Swift,92,12,7

Q6:Scrape the details of Highest selling novels.
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre
 Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [181]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")
driver.maximize_window()

In [184]:
Book_Name=[]
Author_Name=[]
Volume_Sold=[]
Publisher=[]
Genre=[]

In [185]:
book_name=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in book_name:
    Book_Name.append(i.text)
    
author_name=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in author_name:
    Author_Name.append(i.text)
    
volume=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in volume:
    Volume_Sold.append(i.text)
    
publisher=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in publisher:
    Publisher.append(i.text)
    
genre=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in genre:
    Genre.append(i.text)

In [186]:
print(len(Book_Name),len(Author_Name),len(Volume_Sold),len(Publisher),len(Genre))

100 100 100 100 100

In [188]:
df=pd.DataFrame({"Book Name":Book_Name,"Author Name":Author_Name,"Volume Sold":Volume_Sold,"Publisher":Publisher,"Genre":Genre})
df

,Book Name,Author Name,Volume Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

Q8:Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/ You
have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute G) Year 
Note: - from the home page you have to go to the Show All Dataset page through code

In [3]:
driver.get("https://archive.ics.uci.edu/")

In [4]:
driver.maximize_window()

In [5]:
Dataset_Name=[]
Data_Type=[]
Task=[]
Attribute_Type=[]
Instance_no=[]
Attribute_no=[]
Year=[]

In [6]:
view_datasets=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/header/nav/ul/li[1]/a')
view_datasets.click()

In [ ]:
for page in range(0,664):
    expand_all=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]')
    expand_all.click()
    
    
    ds_name=driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
    for i in ds_name:
        Dataset_Name.append(i.text)
    
    dtype=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[2]/span')
    for i in dtype:
        Data_Type.append(i.text)
    
    
    task=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[1]/span')
    for i in task:
        Task.append(i.text)
    
    att_type=driver.find_elements(By.XPATH,'//table[@class="col-span-full my-2 table sm:col-start-2"]/tbody/tr/td[2]')
    for i in att_type:
        Attribute_Type.append(i.text)
    
    instance_no=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[3]/span')
    for i in instance_no:
        Instance_no.append(i.text)
    
    
    att_no=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[4]/span')
    for i in att_no:
        Attribute_no.append(i.text)
    
    year=driver.find_elements(By.XPATH,'//table[@class="col-span-full my-2 table sm:col-start-2"]/tbody/tr/td[3]')
    for i in year:
        Year.append(i.text) 
    
    next_button=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]')
    next_button.click()
    
    time.sleep(5)

In [43]:
print(len(Dataset_Name),len(Data_Type),len(Task),len(Attribute_Type),len(Instance_no),len(Attribute_no),len(Year))

685 685 685 335 685 685 335

In [44]:
Dataset_Name=Dataset_Name[0:335]
Data_Type=Data_Type[0:335]
Task=Task[0:335]
Attribute_Type=Attribute_Type[0:335]
Instance_no=Instance_no[0:335]
Attribute_no=Attribute_no[0:335]
Year=Year[0:335]

In [45]:
df=pd.DataFrame({"Dateset Name":Dataset_Name,"Data Type":Data_Type,"Task":Task,"Attribute Type":Attribute_Type,"Instance Count":Instance_no,"Attribute Count":Attribute_no,"Year":Year})
df

,Dateset Name,Data Type,Task,Attribute Type,Instance Count,Attribute Count,Year
0,SECOM,Multivariate,"Classification, Causal-Discovery",Real,1.57K Instances,591 Features,11/19/2008
1,Labor Relations,,,"Categorical, Integer, Real",57 Instances,16 Features,11/1/1988
2,Mammographic Mass,Multivariate,Classification,Integer,961 Instances,,10/29/2007
3,HARTH,"Multivariate, Time-Series",Classification,Real,6.46M Instances,8 Features,2/21/2023
4,Musk (Version 2),Multivariate,Classification,Integer,6.6K Instances,168 Features,9/12/1994
...,...,...,...,...,...,...,...
330,Hungarian Chickenpox Cases,Time-Series,Regression,N/A,521 Instances,20 Features,11/18/2003
331,Perfume Data,"Univariate, Domain-Theory","Classification, Clustering",N/A,560 Instances,2 Features,6/1/1994
332,Turkish User Reviews,Text,Other,Real,37.06K Instances,,N/A
333,MOVER: Medical Informatics Operating Room Vita...,"Tabular, Sequential, Multivariate, Time-Series","Classification, Regression, Clustering, Other",N/A,83.47K Instances,,N/A
334,Thoracic Surgery Data,Multivariate,Classification,N/A,470 Instances,16 Features,7/22/2019